# Node modules
/node_modules/

# Next.js build output
/.next/

# Log files
*.log

# Dependency directories
/pnpm-lock.yaml
/yarn.lock

# Next.js env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel files
.vercel/

# IDE files
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db
